@import '../../utils/variables';

.columnTitle {
  @include font-filter-headings;
  width: 4.57vw;
  padding: 20px;
  white-space: nowrap;
}

.cell {
  @include font-main-text;
  white-space: inherit;
  // width: 4.57vw;
}

.rowLight {
  background-color: $white;
}
.rowDark {
  background-color: $bluish;
}
